.graphiql-container .selector {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-color: rgba(216, 216, 216, 0.04);
  width: 350px;
  margin: 32px;
  margin-right: 24px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}

.graphiql-container .selector .pointer {
  cursor: pointer;
}

.graphiql-container .selector .pointer input {
  cursor: pointer !important;
}

.graphiql-container .selector > div:first-child {
  position: relative;
  height: 100%;
}

.graphiql-container .selector img {
  height: 12px;
}

.graphiql-container .selector .menu-input {
  width: 230px;
  padding-left: 12px;
}

.graphiql-container .selector .menu-input input {
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: #ffffff;
}

.graphiql-container .selector .menu-input:focus {
  outline: none;
}

.graphiql-container .selector .menu-input::before,
.graphiql-container .selector .menu-input::after {
  content: none;
}

.graphiql-container .selector .menu-options {
  position: absolute;
  z-index: 7;
  background-color: rgba(30, 26, 48, 0.94);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 4px 0;
  top: 0;
  left: -1px;
  width: 350px;
  max-height: 300px;
  overflow: scroll;
}

.menu-item {
  position: relative;
  padding: 12px 24px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #0d0b15f0;
}

.actions-menu-options .menu-item:first-child {
  margin-top: 12px;
}

.actions-menu-options .menu-item:last-child {
  margin-bottom: 12px;
}

.menu-item .header {
  font-weight: 600;
  opacity: 0.7;
}

.menu-item.selected .header {
  opacity: 1;
}

.menu-item.selected img {
  position: absolute;
  right: 10px;
}

.selector .default-label {
  background-color: rgba(216, 216, 216, 0.1);
  border-radius: 4px;
  padding: 2px 6px;
  color: #ffffff;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  position: absolute;
  right: 60px;
  top: 16px;
}

.menu-item.default-query {
  opacity: 0.3;
  pointer-events: none;
  display: block;
}

.menu-item .default-tag {
  background-color: rgba(216, 216, 216, 0.1);
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: 12px;
  color: #ffffff;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

.saved-queries-toolbar .query-actions {
  width: 250px;
}

.saved-queries-toolbar .query-actions.new-query {
  width: 180px;
}

.saved-queries-toolbar .query-actions .action {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.saved-queries-toolbar .show-success {
  width: 180px;
}

.saved-queries-toolbar .success-message {
  color: #4bca81;
  font-size: 16px;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.saved-queries-toolbar .error-message {
  color: #ed4a6d;
}

.saved-queries-toolbar .error-wrapper {
  display: flex;
  align-items: center;
}

.saved-queries-toolbar .error-icon {
  width: 14px;
  height: 14px;
  margin-right: 12px;
}

.saved-queries-toolbar .check-icon {
  width: 18px;
  margin-right: 12px;
}

.saved-queries-toolbar .flex {
  display: flex;
}

.actions-menu {
  position: relative;
  display: flex;
}

.actions-menu .actions-menu-options {
  position: absolute;
  width: 285px;
  box-sizing: border-box;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  background-color: rgba(30, 26, 48, 0.94);
  left: -256px;
  top: -8px;
}

.actions-menu .dots-icon {
  padding: 8px;
  cursor: pointer;
  z-index: 12;
  position: relative;
}

.actions-menu .diamond-icon {
  padding-right: 16px;
}

.actions-menu .actions-menu-options .header {
  font-weight: 400;
  opacity: 1;
  line-height: 20px;
}

.actions-menu .actions-menu-options .option-icon,
.snackbar-content .option-icon {
  display: block;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 1px solid #ffffff;
  transform: rotate(315deg);
  margin-right: 16px;
}

.saved-queries-toolbar .snackbar {
  border-radius: 4px;
}

.saved-queries-toolbar .snackbar.snackbar-success {
  border: 1px solid #4bca81;
  background-color: rgba(75, 202, 129, 0.08);
}

.saved-queries-toolbar .snackbar.snackbar-warning {
  border: 1px solid #4bca81;
  background-color: rgba(75, 202, 129, 0.08);
}

.saved-queries-toolbar .snackbar.snackbar-warning .trash-icon {
  margin-right: 16px;
}

.saved-queries-toolbar .snackbar.snackbar-error {
  border: 1px solid #ed4a6d;
  background-color: rgba(237, 74, 109, 0.08);
}

.saved-queries-toolbar .snackbar.snackbar-warning {
  border: 1px solid #ffa542;
  background-color: rgba(255, 165, 66, 0.08);
}

.saved-queries-toolbar .snackbar .undo-delete {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 6px 14px;
  border-radius: 4px;
  color: #ffffff;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 62px;
  cursor: pointer;
}

.saved-queries-toolbar .snackbar .snackbar-content {
  display: flex;
  align-items: center;
}

/* Media queries */
@media (max-width: 1280px) {
  .graphiql-container .selector {
    width: 300px;
    margin-right: 8px;
  }

  .saved-queries-toolbar .query-actions {
    width: 200px;
  }
}

@media (max-width: 1100px) {
  .saved-queries-toolbar .main-flex {
    flex-direction: column;
    margin-left: 20px;
  }

  .saved-queries-toolbar .actions-flex {
    max-width: 80px;
  }

  .saved-queries-toolbar .flex .execute-button-wrap {
    margin-left: 12px;
  }

  .saved-queries-toolbar .query-actions {
    margin-left: 32px;
  }
}

@media (max-width: 850px) {
  .graphiql-container .selector {
    margin-left: 16px;
    margin-right: 0;
  }

  .saved-queries-toolbar .query-actions {
    margin-left: 16px;
  }

  .saved-queries-toolbar .flex .execute-button-wrap {
    margin-left: 6px;
    margin-right: 12px;
  }
}

@media (max-width: 800px) {
  .saved-queries-toolbar .actions-flex {
    margin-left: 8px;
    margin-top: 0px;
  }

  .saved-queries-toolbar .main-flex {
    align-self: center;
  }

  .saved-queries-toolbar.schema-hidden .selector {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .saved-queries-toolbar.schema-hidden .topBarWrap {
    z-index: 5;
  }
}

@media (max-width: 640px) {
  .saved-queries-toolbar.schema-hidden .topBarWrap {
    margin-left: 0px;
  }
}

@media (max-width: 460px) {
  .saved-queries-toolbar.schema-hidden .selector {
    width: 100%;
    max-width: 340px;
  }

  .saved-queries-toolbar .actions-flex {
    margin-left: 0;
  }

  .saved-queries-toolbar .main-flex {
    width: 100%;
  }

  .saved-queries-toolbar .wrapper {
    justify-content: space-between;
    width: 100%;
  }
}
