/* Hide line numbers */
.CodeMirror-linenumbers,
.CodeMirror-linenumber,
.CodeMirror-gutter-elt {
  display: none;
}

.CodeMirror-lines {
  padding: 0 !important;
}

.graphiql-container li.CodeMirror-hint-active {
  color: var(--theme-ui-colors-Text);
}

.graphiql-container {
  position: relative;

  & svg,
  & input,
  & select,
  & button {
    display: inline-block;
  }
}
.graphiql-container * {
  box-sizing: unset;
}

.graphiql-main .graphiql-sessions {
  margin-right: 0;
}

.graphiql-tab-add.graphiql-tab-add {
  margin-right: 16px;
}

.graphiql-container .graphiql-query-editor.graphiql-query-editor {
  border-bottom: 1px solid var(--theme-ui-colors-White8);
}

.graphiql-horizontal-drag-bar {
  border-left: 1px solid var(--theme-ui-colors-White8);
}

.graphiql-doc-explorer-header-content.graphiql-doc-explorer-header-content {
  min-width: 0;
}

.graphiql-doc-explorer-search.graphiql-doc-explorer-search {
  cursor: text;
  position: unset;
  width: 150px;

  &:focus-within {
    position: absolute;
    width: 100%;
  }
}

.graphiql-container .graphiql-sidebar.graphiql-sidebar {
  padding: var(--px-8) var(--px-2) var(--px-8) var(--px-2);
  overflow: visible;
}

.graphiql-sidebar {
  & button {
    border-radius: 8px;
    &:hover {
      background-color: var(--theme-ui-colors-White4);
    }
    &:focus {
      outline: none;
      background-color: var(--theme-ui-colors-White8);
    }
  }
}

/* If the user has tabs spanning full width we definitely need to show the x button. */
.graphiql-tab-active {
  flex-shrink: 0;
}
button.graphiql-tab-button.graphiql-tab-button {
  /* EuclidCircular is uneven */
  padding: 5px 0 3px 8px;
  outline: none;
}

.graphiql-container,
.graphiql-container .graphiql-editors {
  background-color: transparent;
}

.graphiql-container .graphiql-toolbar.graphiql-toolbar {
  margin-left: 0;
}

.graphiql-explorer-node select {
  background-color: var(--theme-ui-colors-Background) !important;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--theme-ui-colors-White4) !important;
  }
  & > option {
    background-color: var(--theme-ui-colors-Background);
    cursor: pointer;
  }
}

.graphiql-explorer-graphql-arguments > div {
  min-height: 22px !important;
  gap: 0.25rem;
  align-items: center;
}

button.graphiql-execute-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-ui-colors-Background);
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  fill: #fff;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
  margin-top: 16px;
  transform: translateX(50%);
  z-index: 1;

  &:focus {
    outline: none;
  }

  & > svg {
    width: 14px;
    height: 14px;
    padding-left: 2px;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 999px;
    background: linear-gradient(315deg, var(--theme-ui-colors-Purple), var(--theme-ui-colors-Purple48));
  }
}

.graphiql-container .graphiql-sessions.graphiql-sessions {
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}

.graphiql-container .graphiql-session.graphiql-session {
  padding: 0;
}

.graphiql-container .graphiql-plugin.graphiql-plugin {
  /* We don't need a double border there. */
  border-left: none;
}

.graphiql-sidebar.graphiql-sidebar {
  border-left: 1px solid var(--theme-ui-colors-White8);
}

.graphiql-session > div {
  border-top: 1px solid var(--theme-ui-colors-White8);
}

.graphiql-session-header {
  padding-bottom: 8px;
}

.CodeMirror-scroll {
  padding-top: 16px;
}

.graphiql-query-editor.graphiql-query-editor {
  padding: 0;
}

.graphiql-container .graphiql-editors.full-height {
  margin-top: unset;
}

.graphiql-history.graphiql-history {
  max-width: 380px;
}

.graphiql-main.graphiql-main {
  overflow: auto;
}
